/* 1. Use a more intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Optional: improve media defaults and line height */
body {
  line-height: 1.5;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,0,1);
    border:none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: brown;
    transition: all 0.3s ease 0s;

}
button:active{
    color:white
}